@media (max-width: 85em) {
  /* Header */
  .section-header {
    font-size: 10rem;
  }
  .whatsapp-btn {
    bottom: 14.5%;
  }
}

@media (max-width: 70em) {
  html {
    font-size: 56.25%;
  }

  /* header */
  .main-header {
    top: 20%;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    justify-content: space-around;
  }

  .main-logo-a {
    margin-left: -5rem;
  }

  .list-nav {
    gap: 4rem;
    width: 60%;
    justify-content: space-around;
  }
  /* hero */
  .hero-text {
    top: 55%;
  }

  /* About-us */

  .gap--team {
    row-gap: 2.4rem;
    column-gap: 2.4rem;
  }
}

@media (max-width: 60em) {
  .grid--4-cols-about-us {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text-about-us {
    align-self: start;
    color: #212121;
    justify-self: start;
  }

  .team-container-empty {
    grid-row: 2/3;
    grid-column: -2/-1;
  }

  .img-about-us {
    grid-column: 1;
    grid-row: 2;
  }

  .team-container {
    width: auto;
  }

  .gap--team {
    column-gap: 1rem;
  }

  .team-container {
    align-items: center;
    margin: auto;
  }
  .services-list {
    row-gap: 12.4rem;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }

  .service-element {
    align-self: center;
  }

  .filosofy-grid {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-filosofy-section {
    padding: 4rem 0;
  }

  .filosofy-title {
    text-align: start;
    padding-bottom: 2.4rem;
    padding-top: 0;
  }

  .filosofy-text {
    text-align: start;
    font-size: 2.2rem;
  }

  .contact-us-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-us-message {
    margin-bottom: 14rem;
  }

  .contact-us-message {
    font-size: 3rem;
  }

  .footer-img {
    height: 4.8rem;
  }
}

@media (max-width: 50em) {
  .main-logo-a {
    margin-left: -2rem;
  }

  .whatsapp-btn {
    right: 6%;
  }

  .main-header {
    gap: 2.4rem;
  }

  .main-nav {
    padding-top: 8.4rem;
  }

  .main-logo {
    left: 50%;
    top: 68%;
  }

  .hero-text {
    top: 59%;
  }

  .section-header {
    font-size: 7rem;
  }

  .container {
    padding: 2.8rem 4rem;
  }

  .filosofy-title {
    font-size: 4.8rem;
  }

  .filosofy-text {
    font-size: 2.4rem;
  }
}

@media (max-width: 44em) {
  .main-logo-a {
    margin-left: 5rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .sub-header {
    text-align: center;
  }

  .team-container-empty {
    grid-row: 4/5;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 56.25%;
  }

  .section-hero {
    position: relative;
  }

  .whatsapp-btn {
    top: 83%;
    right: 8%;
  }

  .main-header {
    display: flex;
    align-items: flex-end;
    background: linear-gradient(rgba(33, 33, 33, 0.493), rgb(33, 33, 33));
    height: 100vh;
    position: fixed;
    left: 150%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  }

  .move-left {
    left: 50%;
  }

  .main-logo {
    display: none;
  }

  .main-nav-list::after {
    display: none;
  }

  .list-nav {
    align-items: end;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .hero-text {
    top: 70%;
    left: 40%;
  }

  .section-header {
    display: block;
    text-align: start;
    letter-spacing: 4px;
  }

  .sub-header {
    text-align: start;
  }

  .nav-menu {
    display: block;
    position: fixed;
    filter: invert(0.2);
    top: 7%;
    right: 5%;
    transform: translate(-50%, -50%) scale(1.6);
    background-color: transparent;
    border: none;
    height: 3.8rem;
    width: 3.8rem;
    z-index: 9999;
  }

  .main-nav-list {
    display: block;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 56.25%;
  }

  .hero-text {
    top: 60%;
    left: 40%;
  }

  .container {
    padding: 2.8rem 4rem;
  }

  .filosofy-title {
    font-size: 4.8rem;
  }

  .filosofy-text {
    font-size: 2.2rem;
    text-align: start;
  }

  .footer-img {
    display: block;
    height: 4.8rem;
    width: auto;
    justify-self: end;
  }

  .btn-list {
    fill: #fff;
    stroke: #fff;
    width: 3.8rem;
    stroke-width: 3px;
    height: 3.8rem;
    color: #fff;
    stroke-width: 4px;
  }

  .icon {
    height: 24px;
    width: 24px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.4s;
  }
}
